.search-container {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.search-input {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
    background-color: #dfdfe1;
    margin-right:20px ;
    border-radius: 15px;
}
.search-container .btn-danger:hover {
    color: red;
    background-color: white;

}
.search-container .form-select {
    border-radius: 7px;
    margin-left: 20px;
    width: 80px;
    border-color: red;
    color: red;

}
.select-type-container{
    display: flex;
}
.select-type-container p{
    margin-right: 7px;
    font-weight: bold;
    color: black;
}
.select-type-container span{
    color: red;
    font-weight: bold;
}
.property-type-item {
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    text-decoration: 0.6s ease;
}
.property-type-item:hover {
    color: red;
    text-decoration: underline;


}

.property-type-item.active:active {
    font-weight: bold;
    color: red; 
    text-decoration: underline; 
}

.property-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.property-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.property-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
    object-fit: cover;
}


.property-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.property-location {
    color: #777;
}


.property-actions .btn {
    margin-right: 5px;
    font-size: 0.9rem;
    border-color: #d9534f;
    color: #d9534f;
}

.property-actions .btn:hover {
    background-color: #d9534f;
    color: #fff;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .property-card {
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f1fbff;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand span {
    color: #dc3545;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dc3545;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #dc3545;
}

.navbar-light .navbar-toggler {
    background: #fff;
}

.navbar-light .navbar-toggler-icon {
    background: #000;
}

.section-header h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-header h2::after {
    content: '';
    background: #dc3545;
    display: block;
    height: 3px;
    width: 70px;
    margin: 20px auto;
}

.services .card {
    border: none;
    padding: 50px 20px;
    transition: all 0.4s ease;
}

.services .card:hover {
    background: #dc3545;
    color: #fff;
}


.services .card h3 {
    font-size: 20px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.success {
    background: #dc3545;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 15px 45px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 0;
    transition: all 0.4s ease;
}

.success:hover {
    background: rgb(157, 24, 24);
    color: #fff;
}

.list {
    background: #ffff;
    padding: 40px;
    text-align: center;
    margin: 50px 0;
    color: black;
}

.list h5 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

form input[type=text], form select, form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form button[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type=submit]:hover {
    background-color: #dc3545;
}
